/******FILEUPLOAD*************/
.fileUpload{position:absolute;overflow:hidden;margin:0;width:5.5vw;padding:.4vw;display:inline-block;cursor:pointer;text-align:center;height:1.35vw;background:#363636;color:#FFF;border-radius:1vw}
.fileUpload input.upload{position:absolute;top:.35vw;right:0;bottom:0;left:.2vw;margin:0;padding:0;cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;display:inline-block;cursor:pointer}
img{width: 54vw}