*{border:0;font:inherit;margin:0;padding:0;vertical-align:baseline;font-family:'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;font-size:.9vw;outline:0}
body{background: url(../imagenes/brillosbolas.png)#f8f8f8;background-size: contain;color:#363636;font-family:Droid Sans}
b{font-weight:bold}
h1,h2,h3,h4,h5,h6{line-height:1.6vw;position:relative;margin-bottom:1vw;text-transform:uppercase;font-weight:bold;letter-spacing:-.01vw;font-family:"Open Sans"}
h1{font-size:3vw}h2{font-size:1.4vw}h3{font-size:1.3vw}h4{font-size:1.2vw;}h5{font-size:1.1vw}h6{font-size:1vw}p{line-height:2vw}li{list-style:none}hr{width:100%;height:1px}iframe{border:solid 2px #fff}a{text-decoration:none;color:#363636}hr{border-bottom:1px solid #d9d9d9;margin:1vw 0}
/***BOTONES***/
button,.boton,input[type="submit"],input[type="reset"]{cursor:pointer;border:1px solid #e0e0e0!important;background:white;background:-webkit-gradient(linear,left top,left bottom,from(white),to(#f0f0f0))!important;background:-moz-linear-gradient(top,white,#f0f0f0)!important;background-repeat:repeat-x!important;padding:.5vw 1vw;display:inline-block;width:auto!important;font-weight:600;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;}
/*********INPUT TYPE TEXT**********************/
input[type='text']{width:40%;background-color:#fefefe;border:1px solid #e0e0e0;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;height:2vw}
/***TEXTAREA***/
textarea{margin:1vw 0 0 0;padding:.5vw;width:100%;height:18vw;resize:none;overflow:auto;background-color:#fefefe;border:1px solid #e0e0e0;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
/*******/
.todo{width:100%;border:0;margin:0 auto;padding:0;overflow:hidden}
header{background:url(/imagenes/head.png),#000;height:3vw;;width:100%;position:relative;display:inline-block;box-shadow:0 1px 1px rgba(0,0,0,0.1);background-size:contain;background-repeat:no-repeat}
nav{width:70%;height:3vw;margin:0 auto;display:block;position:relative;margin-left:23vw}
aside{float:left;width:28.4%;border-left:1px solid #FFF;box-shadow:inset 1px 0 0 #FFF;padding-left:.7vw;padding-top:4vw;display:inline-block}
/***PLACEHOLDER***/
textarea::-webkit-input-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
textarea:-moz-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
textarea:-ms-input-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
input::-webkit-input-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
input:-moz-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
input:-ms-input-placeholder{color:#a1a1a1;padding-left:.5vw;font-size:.9vw}
/***SCROLL***/
::-webkit-scrollbar{width:.5%}
::-webkit-scrollbar-track{background:#deeafa}
::-webkit-scrollbar-corner{background-color:#eaf0cd}
::-webkit-scrollbar-button:start{background:#e4ecbe}
::-webkit-scrollbar-button:end{background:#e4ecbe}
::-webkit-scrollbar-thumb{background:#c0d4f7}
/***CUSTOM SELECT***/
label.custom-select{position:relative;display:inline-block;margin-right:.4vw}
.custom-select select{display:inline-block;margin:0;font:inherit;outline:0;-webkit-appearance:none;line-height:1.5vw}
.no-pointer-events .custom-select:after{content:none}
.limite{width:100%;padding:2vw;background-color:#FFF;}
select{padding:.35vw 1vw;background:#363636;color:#FFF;border-radius:1vw;cursor:pointer;text-align: center;}
/**********/
.cuerpo{width:100%;position:relative;display:inline-block;overflow:hidden;}
.servicios{display:inline-block;width:100%;margin:0 auto;border-top:1px solid #d9d9d9;overflow:hidden;}
.noticias{display:block;width:90%;margin:0 auto 0}
.activo>a{color:#7d7d7d!important}
.b{color:#fff}
.imglogo{width:55%;position:relative;color:#FFF;margin:0 0 0 33%;height:8vw;padding:1vw}
.imglogo>p{text-align:center;color:#fff;margin-top:3vw}
.imglogo>p:before{content:"\f0e4";font-family:FontAwesome;vertical-align:top;position:relative;top:.5vw;margin-right:1vw}
.logo{float:left;position:relative}
#activo{border-top:solid .2vw #00bff3}
.col{float:left;padding:1vw 1vw;position:relative;font-size:.95vw;cursor:pointer;color:#FFF;border-right:1px dotted #2d2d2d;border-top:.2vw solid transparent;text-transform:uppercase;font-family:"Open Sans";font-weight:700;border-top:.2vw solid #232323;background:url(/imagenes/pattern.png)}
.col:hover{border-top:solid .2vw #00bff3}
.col>a{vertical-align:middle;text-align:center}
#noticia{float:left;width:70%;padding-top:4vw;border-right:1px solid #d9d9d9}
.buscar form{float:right;margin-top:.4vw;height:2vw;position:relative}
.buscar input[type="text"]{width:12vw;border-radius:.3vw;height:2.2vw}
.buscar button[type="submit"]{vertical-align:top;height:2vw;margin:0;width:4vw!important;text-align:center;background:#000!important;border:0!important;outline:0;font-weight:normal;box-shadow:none}
.buscar button[type='submit']:after{vertical-align:middle;content:"\f002";font-family:FontAwesome;position:absolute;top:0;right:1.5vw;color:#fff;font-size:2vw;text-align:center}
#IrArriba{position:fixed;bottom:133px;right:9px}
#IrArriba span{width:60px;height:60px;display:block;background:url(/imagenes/flecha-arriba.png) no-repeat center center}
.dos{height: 2vw;}
.html{color:#FFF;margin:0;background:#363636;display:inline-block;padding:.5vw;margin:.2vw;-webkit-box-shadow:4px 4px 0 0 rgba(51,51,51,0.05);-moz-box-shadow:4px 4px 0 0 rgba(51,51,51,0.05);box-shadow:4px 4px 0 0 rgba(51,51,51,0.05);border-radius:1vw;cursor:pointer;}
.envase{ width:89%;text-align:center;display:block;background-color:#fff;border:1px solid #e0e0e0!important;background:-webkit-gradient(linear,left top,left bottom,from(white),to(#f0f0f0))!important;background:-moz-linear-gradient(top,white,#f0f0f0)!important;background-repeat:repeat-x!important;padding:.5vw 1vw;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05),4px 4px 0 0 rgba(51,51,51,0.05);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px; }
.cien{width:96.2%}
/***/
.admin{text-align:center;width: 70%;margin: 0 auto 3vw;height: 1.5vw;
    border-radius: 1vw}
.mod{text-align:center;width: 70%;margin: 0 auto 1vw;height: 1.5vw;
    border-radius: 1vw}
 
